.header {
  position: relative;
  padding: 8rem 12rem 8rem 24rem;
  height: 32rem;
  background: var(--purple-color-2);
  color: #fff;
  box-shadow: 0rem 1rem 2rem rgb(0 0 0 / 27%);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14rem;
}
