.searchResult {
  padding: 8rem 24rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  color: var(--text-color);
}

.searchResult:hover {
  cursor: pointer;
  background-color: var(--background-color);
}

.searchResult:first-child {
  padding-top: 18rem;
}

.searchResult:last-child {
  padding-bottom: 24rem;
}

.searchResultsHeader {
  padding: 8rem 24rem;
  background: var(--purple-color-2);
  color: #fff;
  /* font-weight: bold; */
  box-shadow: 0rem 1rem 2rem rgb(0 0 0 / 27%);
}

.empty {
  padding: 18rem 24rem;
  background-color: var(--background-color);
}
