.page {
  min-height: inherit;
  display: flex;
  flex-direction: column;
}

.packageContainer {
  display: flex;
  width: var(--max-content-width);
  max-width: calc(100vw - 24rem);
  margin: 0 auto;
  margin-top: 24rem;
}

.briefInfo {
  border-radius: 12rem;
  overflow: hidden;
  box-shadow: 0rem 2rem 4rem rgb(0 0 0 / 27%);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.content {
  border-radius: 12rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer {
  margin-top: auto;
  width: 100%;
}

.sidebar {
  width: 240rem;
  margin: 24rem 0 24rem 18rem;
  display: flex;
  padding-top: 18rem;
}

@media (max-width: 1000px) {
  .page {
    align-items: center;
  }

  .packageContainer {
    margin: 0;
    flex-direction: column;
  }

  .sidebar {
    width: 50%;
    padding-top: 0;
    margin: 24rem 18rem;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: auto;
  }
}
