.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  width: inherit;
}

.sidebarSection {
  margin-bottom: 18rem;
  display: flex;
  flex-direction: column;
}

.sidebarSectionHeader {
  margin: 0;
  margin-bottom: 8rem;
  font-weight: bold;
  font-size: 18rem;
  display: flex;
}

.sidebarEntry {
  display: flex;
  font-size: 14rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 12rem;
}
.sidebarEntry.sidebarEntryShrink {
  margin-bottom: 4rem;
}

.sidebarEntryLink {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14rem;
}

.sidebarEntryIcon {
  margin-right: 8rem;
}

.sidebarEntryIcon svg {
  width: 24rem;
  height: 24rem;
  fill: var(--text-color);
}

.sidebarInstall {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.repositoryContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

