#haskell-extension-root {
  width: 640px;
  height: auto;
  position: fixed;
  top: 8px;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
  z-index: 2147483647;
  display: flex;
  font-size: 16px;
}
