.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 72rem;
  padding: 8rem 0 24rem 0;
  background: var(--surface-color);
  box-shadow: 0 0 8rem rgb(0 0 0 / 50%);
  border-top-right-radius: 12rem;
  border-top-left-radius: 12rem;
}

.footerContent {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-around;
  max-width: var(--max-content-width);
}

.footerColumn {
  font-size: 14rem;
  max-width: 1024rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 auto;
  padding: 18rem 0 18rem 0;
  margin-right: 48rem;
}

.footerColumn:last-child {
  margin-right: 0;
}

.footerColumn a:hover {
  color: var(--purple-color-2);
}

.footerColumnHeader {
  font-size: 18rem;
  color: var(--purple-color-2);
  margin: 0;
  margin-bottom: 8rem;
}
