.footer {
  margin-top: 72rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24rem;
  background: var(--surface-color);
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  border-top-right-radius: 12rem;
  border-top-left-radius: 12rem;
}

.footerContent {
  font-size: 14rem;
  max-width: 1024rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;
  padding: 18rem 0 18rem 0;
}

.block {
  padding: 0 24rem;
}

.block:first-child {
  padding-left: 0;
}

.block:last-child {
  padding-left: 0;
}

.block a:hover {
  color: var(--purple-color-2);
}
