.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  font-size: 16rem;

  background-color: var(--purple-color-2);
  transition: var(--transition-short);
  z-index: 100;
}

.menuAtTop {
  box-shadow: 0 0rem 8rem rgb(0 0 0 / 50%);
  transition: var(--transition-short);
}

.progressIndicator {
  width: 100%;
  height: 2rem;
  background: var(--purple-color-2);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2rem;
  transition: var(--transition-short);
}

.progressIndicatorRunning {
  background: linear-gradient(90deg, var(--purple-color-2), rgba(255, 255, 255, 0.66) 95%);
  animation: pulse 800ms infinite normal;
  transition: var(--transition-short);
}

@keyframes pulse {
  0% {
    opacity: 0;
    width: 0%;
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    width: 100%;
  }
}

.menuItem,
.menuItems {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menuItems {
  display: flex;
}

.content {
  max-width: var(--max-content-width);
  margin: auto;
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
}

.menuItem {
  display: flex;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24rem;
  padding-top: 2rem;
}

.menuItemLink {
  color: #fff;
}

.menuItemLink:hover {
  opacity: 0.8;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  flex: 1 1 auto;
  margin-left: 24rem;
  position: relative;
}

@media (max-width: 1000px) {
  .logo {
    display: none;
  }

  .menuItems {
    display: none;
  }

  .searchInput {
    margin: 0 24rem;
  }
}
