.searchInput {
  position: relative;
}

.searchResultsContainer {
  position: absolute;
  display: flex;
  width: calc(100vw - 48rem);
  left: calc(50% - 18rem);
  max-width: var(--max-content-width);
  bottom: -8rem;
  transform: translate(-50%, 100%);
  background-color: #fff;
  border-radius: 12rem;
  max-height: calc(100vh - 75rem);
  overflow: hidden;
  box-shadow: 1rem 3rem 8rem rgb(0 0 0 / 27%);
}

.searchResults {
  height: inherit;
  overflow: auto;
  flex: 1;
}

.searchResult {
  padding: 8rem 24rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  color: var(--text-color);
}

.searchResult:hover {
  cursor: pointer;
  background-color: var(--background-color);
}

.searchResult:first-child,
.hoogleSearchResult:first-child {
  padding-top: 18rem;
}

.searchResult:last-child,
.hoogleSearchResult:last-child {
  padding-bottom: 24rem;
}

.help {
  padding: 18rem 24rem;
  background-color: var(--background-color);
}

.help code {
  color: #fff;
}

.helpHeader {
  font-size: 18rem;
  margin: 0;
  margin-bottom: 8rem;
}

.hoogleSearchResult {
  padding: 12rem 8rem;
  font-size: 14rem;
  font-family: "Fira Code", monospace;
}

.hoogleSearchResult:nth-child(even) {
  background-color: #f5f5f5;
  position: relative;
}
.hoogleSearchResult:nth-child(odd) {
  background-color: #e5e5e5;
  position: relative;
}

.hoogleItemDocs {
  width: 100%;
  overflow: hidden;
  padding: 0 8rem;
  margin: 0rem 0 12rem 0;
  white-space: pre;
}

.link {
  color: var(--purple-color-2);
  overflow: hidden;
  text-overflow: ellipsis;
}

.link:hover {
  cursor: pointer;
  opacity: 0.66;
}

.hoogleItemLink {
  display: inline-flex;
  flex-wrap: wrap;
  border-radius: 4rem;
  padding: 0 8rem;
  margin-bottom: 12rem;
  font-size: 14rem;
}

.hoogleItemContent {
  display: flex;
}

.hoogleItemTypeName {
}

.hoogleItemModules {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hoogleItemPackage {
  margin-bottom: 12rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hoogleItemPackage:last-child {
  margin-bottom: 0;
}

.hoogleItemPackages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
  color: var(--purple-color-2);
  white-space: nowrap;
}
