.searchResults {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.searchResultsContainer {
  overflow: auto;
}

.searchResult {
  position: relative;
  padding: 8rem 48rem 8rem 24rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.searchResult:hover {
  cursor: pointer;
  background-color: var(--background-color);
}

.searchResult:first-child {
  padding-top: 18rem;
}

.searchResult:last-child {
  padding-bottom: 24rem;
}

.removeSearchHistoryEntry {
  display: none;
  position: absolute;
  right: 8rem;
  height: 24rem;
  width: 24rem;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  user-select: none;
  transition: var(--transition-short);
}

.searchResult:hover .removeSearchHistoryEntry {
  display: flex;
  opacity: 0.34;
  transition: var(--transition-short);
}

.searchResult:hover .removeSearchHistoryEntry:hover {
  opacity: 1;
  transition: var(--transition-short);
}

.removeSearchHistoryEntry svg {
  width: 16rem;
  height: 16rem;
}
