.searchInput {
  position: relative;
  font-size: 16rem;
  color: var(--text-color);
}

.searchResultsContainer {
  display: flex;
  width: calc(100vw - 48rem);
  max-width: var(--max-content-width);
  position: fixed;
  left: calc(50% - 18rem);
  top: 54rem;
  transform: translate(-50%, 0%);
  background-color: #fff;
  border-radius: 12rem;
  max-height: calc(100vh - 64rem);
  overflow: hidden;
  box-shadow: 1rem 3rem 8rem rgb(0 0 0 / 27%);
}

.searchResults {
  height: inherit;
  overflow: hidden;
  flex: 1;
}

.help {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.helpContainer {
  padding: 18rem 24rem;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.helpHeader {
  font-size: 18rem;
  margin: 0;
  margin-bottom: 8rem;
}

.helpSection {
  flex: 1 1;
  min-width: 250rem;
}

.helpSection:last-child {
  margin-bottom: 0;
}

.helpSectionHeader {
  margin-bottom: 12rem;
  font-size: 16rem;
  font-weight: bold;
}

.helpExamples {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.clickableExample {
  display: inline-flex;
  margin-bottom: 12rem;
  flex: 1 1 auto;
  white-space: nowrap;
}

.clickableExample:hover {
  cursor: pointer;
  opacity: 0.66;
}

.clickableExample code {
  box-shadow: 1rem 1rem 2rem rgb(0 0 0 / 50%);
}

@media (max-width: 1000px) {
  .searchResultsContainer {
    width: calc(100vw - 32rem);
    left: calc(50%);
  }
  .helpSection {
    margin-bottom: 24rem;
  }
}
