.greeting {
  display: flex;
  justify-content: center;
  background-color: var(--purple-color-2);
  position: relative;
  overflow: hidden;
  padding: 36rem 0;
  padding-top: 24rem;
}

.greeting:after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -4rem;
  box-shadow: 0 0rem 8rem rgb(0 0 0 / 50%);
  height: 4rem;
}

.greetingContent {
  max-width: var(--max-content-width);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
}

.header svg {
  width: 48rem;
  height: 48rem;
  fill: var(--purple-color-1);
  margin-right: 6rem;
}

.text {
  margin: 0 auto;
  color: #fff;
  text-shadow: 1rem 2rem 2rem rgb(0 0 0 / 27%);
  font-size: 38rem;
  line-height: 1;
  text-align: center;
}

.secondaryText {
  margin: 0;
  margin-top: 12rem;
  color: #fff;
  font-size: 18rem;
  text-shadow: 1rem 2rem 2rem rgb(0 0 0 / 27%);
}
