.page {
  min-height: inherit;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.content {
  border-radius: 12rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.children {
  padding: 0 12rem;
  padding-top: 48rem;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.footer {
  margin-top: auto;
  width: 100%;
}

@media (max-width: 1000px) {
  .page {
    align-items: center;
  }
}
