.page {
  min-height: inherit;
  display: flex;
  flex-direction: column;
}

.greeting {
  display: flex;
  justify-content: center;
  background-color: var(--purple-color-2);
  position: relative;
  overflow: hidden;
  padding-bottom: 8rem;
}

.greeting:after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -4rem;
  box-shadow: 0 0rem 8rem rgb(0 0 0 / 50%);
  height: 4rem;
}

.greetingContent {
  max-width: var(--max-content-width);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.greetingHeader {
  margin: 0 auto;
  padding-top: 24rem;
  color: #fff;
  text-shadow: 1rem 3rem 2rem rgb(0 0 0 / 0.27);
  font-size: 42rem;
  text-align: center;
}

.gettingStarted {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32rem 24rem;
}

.content {
  padding-top: 48rem;
}

.packageLists {
  display: flex;
  margin: 0 auto;
  margin-bottom: 72rem;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-content-width);
}

.packageListsHeader {
  max-width: var(--max-content-width);
  margin: auto;
  margin-bottom: 24rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 24px;
}

.packageListsHeaderLink {
  display: flex;
  align-items: flex-end;
  font-weight: normal;
  font-size: 14rem;
  justify-content: center;
  border-radius: 6rem;
  background-color: var(--purple-color-2);
  color: #fff;
  padding: 8rem 18rem;
  margin-right: 12rem;
  margin-bottom: 4rem;
  box-shadow: 0rem 2rem 4rem rgb(0 0 0 / 27%);
}

.packageListsHeaderIcon {
  position: relative;
  top: -1rem;
}
.packageListsHeaderIcon svg {
  width: 18rem;
  height: 18rem;
  margin-right: 8rem;
}

.packageList {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-right: 32rem;
  width: 33.333333333333%;
}

.packageList:last-child {
  padding-right: 0;
}

.packageListHeader {
  margin: 0;
  margin-bottom: 18rem;
  font-size: 18rem;
}

.footer {
  margin-top: auto;
}

@media (max-width: 1000px) {
  .greetingHeader {
    font-size: 32rem;
  }

  .greeting {
    margin-bottom: 24rem;
  }

  .gettingStarted {
    display: none;
  }

  .packageLists,
  .packageListsHeader {
    padding: 0 24rem;
  }
}

@media (max-width: 700px) {
  .packageLists {
    flex-direction: column;
  }

  .packageList {
    width: auto;
    padding: 0;
    margin-bottom: 48rem;
  }
}
