.page {
  min-height: inherit;
  display: flex;
  flex-direction: column;
}

.greeting {
  display: flex;
  justify-content: center;
  background-color: var(--purple-color-2);
  position: relative;
  overflow: hidden;
}

.greeting:after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -4rem;
  box-shadow: 0 0rem 8rem rgb(0 0 0 / 50%);
  height: 4rem;
}

.greetingContent {
  max-width: var(--max-content-width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.greetingHeader {
  margin: 0;
  margin: auto;
  padding: 24rem 0 64rem 0;
  color: #fff;
  text-shadow: 1rem 3rem 2rem rgb(0 0 0 / 0.27);
  font-size: 42rem;
  text-align: center;
}

.gettingStarted {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32rem 24rem;
}

.packageLists {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-content-width);
}

.packageList {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-right: 32rem;
  width: 33.333333333333%;
}

.packageList:last-child {
  padding-right: 0;
}

.packageListHeader {
  margin: 0;
  margin-bottom: 18rem;
  font-size: 18rem;
}

.footer {
  margin-top: auto;
}

.statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  margin-bottom: 48rem;
}

.statsContainer::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  max-width: var(--max-content-width);
  height: 4rem;
  background-color: var(--surface-color);
  border-radius: 4rem;
}

.stats {
  display: flex;
  padding: 32rem 0;
  flex: 1 1 auto;
  width: 100%;
  max-width: var(--max-content-width);
  justify-content: space-between;
}

.statsText {
  padding: 0 24rem;
  padding-left: 0;
}

.statsTextParagraph {
  padding: 0;
  margin: 0;
  margin-bottom: 8rem;
}

.statsGroup {
  display: flex;
  padding: 0 24rem;
  padding-right: 0;
  text-align: right;
  margin-bottom: 18rem;
  justify-content: flex-end;
}

.statsGroup:last-child {
  margin-bottom: 0;
}

.statsGroupContent {
  display: flex;
  flex-direction: column;
}

.statsGroupIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18rem;
}

.statsGroupIcon svg {
  width: 48rem;
  height: 48rem;
  fill: var(--text-color);
}

.statsAmount {
  font-size: 32rem;
  font-weight: bold;
}

.statsUnit {
  font-size: 16rem;
  opacity: 0.66;
}
