.page {
  min-height: inherit;
  display: flex;
  flex-direction: column;
}

.package hr {
  background-color: var(--surface-color);
  width: 100%;
  max-width: var(--max-content-width);
  height: 4rem;
  background-color: var(--surface-color);
  border: none;
  border-radius: 4rem;
}

.content {
  max-width: var(--max-content-width);
  margin: 24rem auto;
  box-shadow: 0rem 2rem 4rem rgb(0 0 0 / 27%);
  border-radius: 12rem;
  overflow: hidden;
}

.footer {
  margin-top: auto;
}

.packageName {
  margin: 0;
  font-size: 32rem;
  font-weight: bold;
}

.packageNameH1 {
  display: inline-flex;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

.briefInfo {
  background-color: #fff;
  padding: 12rem 24rem;
}

.shortDescription {
  font-size: 18rem;
  opacity: 0.66;
  margin-bottom: 18rem;
}

.shortDescription:last-child {
  margin-bottom: 0;
}

.longDescription {
  max-width: var(--max-content-width);
  margin: auto;
}

.longDescription p {
  margin: 0;
  font-size: 16rem;
  margin-bottom: 24rem;
}

.longDescription img {
  border-radius: 4rem;
  margin: auto;
  display: block;
  max-width: 100%;
    height: auto;
}

.longDescription p:last-child {
  margin-bottom: 0;
}
