.textarea {
  display: flex;
  position: relative;
  align-items: center;
  box-shadow: 0 4px 6px rgb(0 0 0 / 0.27);
}

.textareaTextarea {
  position: relative;
  background-color: var(--surface-color);
  border-radius: 6px;
  border: 1px solid #555;
  padding: 12px 18px 12px 18px;
  display: flex;
  flex: 1 0 auto;
  font-size: 14px;
  color: var(--text-color);
  caret-color: var(--text-color);
  transition: var(--transition-short);
}

.textareaTextarea:focus {
  border: 1px solid var(--purple-color-2);
  transition: var(--transition-short);
}

.textareaTextarea:focus {
  outline: none;
}

.textareaTextarea::placeholder {
  opacity: 0.5;
  color: var(--text-color);
}
