.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #fff;
  font-weight: bold;
  text-shadow: 1rem 1rem 1rem rgba(0,0,0,0.5);
}

.svg {
  position: relative;
  height: 100%;
  width: auto;
}

