.dependentsPage {
  padding-bottom: 24rem;
}

.info {
  padding: 24rem 0 12rem 0;
  font-size: 14rem;
  display: flex;
  justify-content: space-between;
}

.dependent {
  padding: 18rem 24rem;
  background-color: #fff;
  margin-bottom: 12rem;
  box-shadow: 0rem 1rem 2rem rgb(0 0 0 / 27%);
  border-radius: 8rem;
  display: flex;
  align-items: center;
  position: relative;
  color: var(--text-color);
}

.label {
  width: 120rem;
  height: 24rem;
  border-radius: 12rem;
  margin-right: 24rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-color);
  font-size: 12rem;
}

