.page {
  min-height: inherit;
  display: flex;
  flex-direction: column;
}

.packageContainer {
  display: flex;
  width: var(--max-content-width);
  max-width: calc(100vw - 24rem);
  margin: 0 auto;
  margin-top: 24rem;
}

.content {
  box-shadow: 0rem 2rem 4rem rgb(0 0 0 / 27%);
  border-radius: 12rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.briefInfo {
  background-color: #fff;
  padding: 32rem 24rem 8rem 24rem;
}

.packageName {
  margin: 0;
  margin-bottom: 8rem;
  line-height: 1.1;
  font-size: 32rem;
  font-weight: bold;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
}

.packageNameH1 {
  display: inline;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.packageVersion {
  font-size: 24rem;
  margin-left: 8rem;
  font-weight: bold;
  opacity: 0.66;
  position: relative;
  top: 2rem;
}

.shortDescription {
  font-size: 18rem;
  opacity: 0.66;
  margin-bottom: 18rem;
}

.shortDescription:last-child {
  margin-bottom: 0;
}

.footer {
  margin-top: auto;
  width: 100%;
}

.sidebar {
  width: 240rem;
  margin: 24rem 0 24rem 18rem;
  display: flex;
  padding-top: 18rem;
}

@media (max-width: 1000px) {
  .page {
    align-items: center;
  }

  .packageContainer {
    margin: 0;
    flex-direction: column;
  }

  .sidebar {
    width: 50%;
    padding-top: 0;
    margin: 24rem 18rem;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: auto;
  }
}
