.versionsPage {
  padding-bottom: 24rem;
}

.info {
  padding: 24rem 0;
  font-size: 14rem;
}

.version {
  padding: 12rem 24rem;
  background-color: #fff;
  margin-bottom: 12rem;
  box-shadow: 0rem 2rem 4rem rgb(0 0 0 / 27%);
  border-radius: 12rem;
  display: flex;
  align-items: center;
  position: relative;
}

.version:hover {
  cursor: pointer;
  opacity: 0.46;
}

.versionId {
  font-weight: bold;
  font-size: 16rem;
}

.versionKind {
  width: 48rem;
  height: 48rem;
  border-radius: 50%;
  margin-right: 24rem;
  background-color: var(--surface-color);
}
