#__next {
  min-height: inherit;
}

:root,
:host {
  font-size: 1px;
  font-family: "Fira Sans", sans-serif;
  color: var(--text-color);
  line-height: 1.4;
  font-variant-ligatures: none;
  --background-color: #f6eedc;
  --background-color-backdrop: rgba(94, 80, 134, 0.8);
  --surface-color: #dfd8c7;
  --surface-color-backdrop: rgba(94, 80, 134, 0.9);
  --text-color: rgb(70, 70, 70);
  --purple-color-1: #453a62;
  --purple-color-2: #5e5086;
  --purple-color-3: #8f4e8b;
  --transition-short: all 180ms ease 0s;
  --backdrop-filter-blur: blur(12px);
  --accent-color-green: #04c262;
  --accent-color-red: #bf4646;
  --accent-color-yellow: #f8cf06;
  --accent-color-blue: #5084ff;
  --accent-color-purple: #9d50ff;
  --max-content-width: 1000px;
  --toastify-icon-color-success: var(--purple-color-2) !important;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  min-height: 100vh;
}

body {
  font-size: 16rem;
}

a {
  color: var(--purple-color-2);
  text-decoration: none;
}

a:hover {
  opacity: 0.66;
}

* {
  box-sizing: border-box;
}

code,
pre {
  font-family: "Fira Code", monospace;
  overflow: auto;
}

code.hljs,
pre.hljs {
  border-radius: 4rem;
  padding: 1rem 6rem;
  font-size: 14rem;
}

code.hljs {
  padding: 0rem 4rem !important;
}

pre.hljs {
  padding: 8rem 18rem;
}

hr {
  background-color: var(--surface-color);
  width: 100%;
  max-width: var(--max-content-width);
  height: 4rem;
  border: none;
  border-radius: 4rem;
}

@keyframes loading-overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.066;
  }
}

.loading-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: #000;
  animation-name: loading-overlay;
  animation-duration: 0.66s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
